In [1]:
# Load libraries with aliases
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Transform CountryCode.csv
dfCountryCode = pd.read_csv('Resources/CountryCode.csv')
dfCountryCode = dfCountryCode.drop(columns=['ISO2','Top Level Domain','FIPS','ISO Numeric','GeoNameID','E164','Phone Code','Continent','Capital','Time Zone in Capital','Currency','Language Codes','Languages','Area KM2','Internet Hosts','Internet Users','Phones (Mobile)','Phones (Landline)','GDP'])
dfCountryCode = dfCountryCode.rename(columns={'Country Name':'Country','ISO3':'Code'})
dfCountryCode.to_csv(r'C:\Development\GitHub\Repositories\UA_PHX_Data_Analytics_BootCamp\Projects\Project2\Resources\CleanCountryCode.csv', header=True, index=None)
dfCountryCode.head(3)

       Country Code
0  Afghanistan  AFG
1      Albania  ALB
2      Algeria  DZA

In [3]:
# Transform CountryProfileVariables dataframe
dfCountryProfileVariables = pd.read_csv('Resources/CountryProfileVariables.csv')
dfCountryProfileVariables = dfCountryProfileVariables.drop(columns=['Region','Surface area (km2)','Population density (per km2, 2017)','GDP: Gross domestic product (million current US$)','GDP growth rate (annual %, const. 2005 prices)','GDP per capita (current US$)','Economy: Agriculture (% of GVA)','Economy: Industry (% of GVA)','Economy: Services and other activity (% of GVA)','Employment: Agriculture (% of employed)','Employment: Services (% of employed)','Labour force participation (female/male pop. %)','Agricultural production index (2004-2006=100)','Food production index (2004-2006=100)','International trade: Exports (million US$)','International trade: Imports (million US$)','International trade: Balance (million US$)','Balance of payments, current account (million US$)','Population growth rate (average annual %)','Urban population (% of total population)','Urban population growth rate (average annual %)','Fertility rate, total (live births per woman)','Life expectancy at birth (females/males, years)','Population age distribution (0-14 / 60+ years, %)','International migrant stock (000/% of total pop.)','Refugees and others of concern to UNHCR (in thousands)','Infant mortality rate (per 1000 live births','Health: Total expenditure (% of GDP)','Health: Physicians (per 1000 pop.)','Education: Government expenditure (% of GDP)','Education: Primary gross enrol. ratio (f/m per 100 pop.)','Education: Secondary gross enrol. ratio (f/m per 100 pop.)','Education: Tertiary gross enrol. ratio (f/m per 100 pop.)','Seats held by women in national parliaments %','Mobile-cellular subscriptions (per 100 inhabitants)','Mobile-cellular subscriptions (per 100 inhabitants).1','Individuals using the Internet (per 100 inhabitants)','Threatened species (number)','Forested area (% of land area)','CO2 emission estimates (million tons/tons per capita)','Energy production, primary (Petajoules)','Energy supply per capita (Gigajoules)','Pop. using improved drinking water (urban/rural, %)','Pop. using improved sanitation facilities (urban/rural, %)','Net Official Development Assist. received (% of GNI)'])
dfCountryProfileVariables = dfCountryProfileVariables.rename(columns={'country':'Country','Population in thousands (2017)':'Population','Sex ratio (m per 100 f, 2017)':'SexRatio','Employment: Industry (% of employed)':'EmploymentPct','Unemployment (% of labour force)':'UnemploymentPct'})
dfCountryProfileVariables.to_csv(r'C:\Development\GitHub\Repositories\UA_PHX_Data_Analytics_BootCamp\Projects\Project2\Resources\CleanCountryProfileVariables.csv', header=True, index=None)
dfCountryProfileVariables.head(3)

       Country  Population  SexRatio EmploymentPct UnemploymentPct
0  Afghanistan       35530     106.3            10             8.6
1      Albania        2930     101.9          18.3            15.8
2      Algeria       41318     102.0          34.5            11.4

In [4]:
# Transform HappinessAlcoholConsumption dataframe
dfHappinessAlcoholConsumption = pd.read_csv('Resources/HappinessAlcoholConsumption.csv')
dfHappinessAlcoholConsumption = dfHappinessAlcoholConsumption.drop(columns=['Region','Hemisphere'])
dfHappinessAlcoholConsumption.to_csv(r'C:\Development\GitHub\Repositories\UA_PHX_Data_Analytics_BootCamp\Projects\Project2\Resources\CleanHappinessAlcoholConsumption.csv', header=True, index=None)
dfHappinessAlcoholConsumption.head(3)

,Country,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,Denmark,7.526,928,53.579,224,81,278
1,Switzerland,7.509,943,79.866,185,100,280
2,Iceland,7.501,933,60.530,233,61,78

In [5]:
# Transform SuicideByCountry dataframe
dfSuicideByCountry = pd.read_csv('Resources/SuicideByCountry.csv')
dfSuicideByCountry = dfSuicideByCountry.drop(columns=['country-year','HDI for year','generation'])
dfSuicideByCountry = dfSuicideByCountry.rename(columns={'country':'Country','year':'Year','sex':'Sex','age':'Age','suicides_no':'Suicides_No','population':'Population','suicides/100k pop':'Suicides_100k_pop',' gdp_for_year ($) ':'GDP_For_Year','gdp_per_capita ($)':'GDP_Per_Capita'})
dfSuicideByCountry.to_csv(r'C:\Development\GitHub\Repositories\UA_PHX_Data_Analytics_BootCamp\Projects\Project2\Resources\CleanSuicideByCountry.csv', header=True, index=None)
dfSuicideByCountry.head(3)

,Country,Year,Sex,Age,Suicides_No,Population,Suicides_100k_pop,GDP_For_Year,GDP_Per_Capita
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796

In [6]:
dbConnection = "postgres:postgres@localhost:5432/EmployeeSql"
dbEngine = create_engine(f'postgresql://{dbConnection}')
dbEngine.table_names()

['Employees', 'Salaries', 'Titles', 'Departments', 'Dept_Manager', 'Dept_Emp']